html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1rem;
  background: #4de81b;
}

.health-box {
  background: #bac1a9;
  width: 40%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.health-portrait {
  float: left;
}

.health-bar {
  float: left;
}

.ult-box {
  background: #d9d239;
}

.attack-box {
  background: #7e1b29;
  width: 40%;
  position: absolute;
  right: 0;
  bottom: 0;
}

.attack-ability-icon {
  float: right;
  text-align: center;
}

.attack-weapon-icon {
 float: right;
}

.message-box {
  background: #3f4e93;
  position: absolute;
  max-width: 20rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.message-box img {
  background: #67be75;
  width: 30%
}

.message-box span {
  color: red;
}
