html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1rem;
  background: #4de81b;
}

.health-box {
  background: #bac1a9;
}

.health-portrait {
  display: inline-block;
}

.health-bar {
  display: inline-block;
}

.ult-box {
  background: #d9d239;
}

.attack-box {
  background: #7e1b29;
}

.message-box {
  background: #3f4e93;
  position: absolute;
  max-width: 20rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
}

.message-box img {
  background: #67be75;
  width: 30%
}

.message-box span {
  color: red;
}
